@tailwind base;
@tailwind components;
@tailwind utilities;

.text{
    color: azure;
    text-align: center;
    font-size: 54px;
    font-family: 'Lalezar';
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
